<script>
  // Properties
  export let data = [];
  export let beginyear=0;
  export let continentsdata="all";
  const continents = ["europe", "asia", "americas", "africa"];
  const timer = (_) => {
    if (beginyear==214) {
      beginyear=0;
    } else {
      beginyear+=1;
    }
  }


  let click = false;
  let time;
  const repeat = () => {
    time = setInterval(timer, 100);
    click = true;
  }
  const stop = () => {
    clearInterval(time);
    click = false;
  }
  const reset = () => {
    clearInterval(time);
    click = false;
    beginyear=0;
  }
</script>


<div class="row">
  <div>
    {#if click == false}
    <button class="btn btn-primary" on:click="{() => repeat()}">Start</button>
  {:else}
    <button class="btn btn-primary" on:click="{() => stop()}">Stop</button>
  {/if}
  <button class="btn btn-primary" on:click="{() => reset()}">Reset</button>  
  </div>

  <div>
    <label for="slider">Year: {1800+beginyear}</label>
    <input type="range" class="form-range" min="0" max="214" bind:value={beginyear} id="slider" name="slider">
    <select name="conti" id ="conti"  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" bind:value={continentsdata}>
      <option value="all">All continents</option>
      <option value="europe">Europe</option>
      <option value="asia">Asia</option>
      <option value="americas">Americas</option>
      <option value="africa">Africa</option>
    </select>
  </div>
</div>
