<script>
       let count=0
function Click(event){
    count+=1;
}

function Reset(event){
    count=0;
}
</script>

<button class="btn btn-primary" on:click={Click}>Clicked {count} time(s)
  </button>
  

<button class="btn btn-warning" on:click={Reset}>Reset</button>



