<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;
  $:index

  // Color
  let color = "darkred";
  const interval_settings = setInterval(() => {index-=1;},1000);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
  {#each points as p,i}
      {#if i <= -1} 
      <circle class="turn-on-clear" cx={p} cy = 35 r = 10></circle>
      {clearInterval(interval_settings)}

      {:else if index <= i}
      <circle class="turn-on" cx={p} cy = 35 r = 10></circle>
      {:else}
      <circle class="turn-off" cx={p} cy = 35 r = 10></circle>
      {/if}
      {/each}
  </g>
</svg>


<style>
  .turn-off {
    fill:darkred;
    fill-opacity:0.3;
  }
  .turn-on {
    fill:darkred;
    fill-opacity: 1;
  }
  .turn-on-clear{
    fill:darkgreen;
    fill-opacity:1;
  }
</style>
