<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data1 =[];
  onMount(async () => {
    data1 = await json("/data/gapminder.json");
  });
  const select = (dataset, index) => {
    return dataset[index].countries; 
  };
  const filter = (dataset) => {
    return dataset.filter(datapoint => datapoint.income != null && datapoint.life_exp != null);
  };
  const filter2 = (dataset, index2) => {
    return dataset.filter(datapoint => datapoint.continent == index2);
  }
  
  $: year = 0;
  $: continent = "all";
  </script>

{#if data1.length==0}
  <p>Loading the data, please wait...</p>
{:else}
<div>
  {#if continent=="all"}
  <Scatterplot data={filter(select(data1, year))} />
  {:else}
  <Scatterplot data={filter2(filter(select(data1, year)), continent)} />
  {/if} 
  <div>
  <Controls data={data1} bind:beginyear={year} bind:continentsdata={continent} />
  </div>

</div>
{/if}

