<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };
  $: selected_p1 = [];
  $: selected_p2 = [];

  const selections = (p1, p2) => {
    let result = [];
    for (let i = 0; i < 406; i++) {
      if (p1[i]==true && p2[i]==true) {
        result[i] = true;
      } else {
        result[i] = false;
      }
    }
    return result;
  }
  $: select2 = selections(selected_p1, selected_p2);
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {...s1} selectglobal={select2} bind:selectlocal={selected_p1} />  
  <Scatter {data} {...s2} selectglobal={select2} bind:selectlocal={selected_p2} />

{/if}
